
input{
    width: 100%;
}



/* note that we are defining custom row bcz row is already defined class in the item imported from bootstrap. So to apply our own CSS we are defining our own class name */
.custom-row{
    margin: 10px 5px;
}

.custom-button{
    min-width: 80px;

}